USE [master]
GO
/****** Object:  Database [airline_planner]    Script Date: 6/12/2017 11:41:20 AM ******/
CREATE DATABASE [airline_planner]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'airline_planner', FILENAME = N'C:\Users\epicodus\airline_planner.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'airline_planner_log', FILENAME = N'C:\Users\epicodus\airline_planner_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [airline_planner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [airline_planner]
GO
USE [airline_planner]
GO
/****** Object:  Table [dbo].[airline_service]    Script Date: 6/12/2017 11:41:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airline_service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cities]    Script Date: 6/12/2017 11:41:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cities_airline_service]    Script Date: 6/12/2017 11:41:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities_airline_service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cities_id] [int] NULL,
	[airline_service_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[flight]    Script Date: 6/12/2017 11:41:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NULL,
	[departure_city] [varchar](100) NULL,
	[departure_time] [datetime] NULL,
	[arrival_city] [varchar](100) NULL,
	[arrival_time] [datetime] NULL,
	[status] [varchar](50) NULL,
	[airline_service_id] [int] NULL
) ON [PRIMARY]

GO
USE [master]
GO
